* {
	/*background-color: #F7F7F7;*/
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
	/*font-family: 'PT Sans Narrow', sans-serif;*/
	/*color: rgba(43,195,122,1) !important;*/
	/*fountain blue*/
	/*color: #28aeb9; */
	/*millbrook*/
	/*color: #573e2a*/
}

h1, h2, h3 {
	font-family: 'Pacifico', cursive;
	padding-top: 20px;
	padding-bottom: 12px;
	/*fountain blue*/
	color: #28aeb9; 
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
}

h6 {
	font-weight: 600;
}

.btn {
	border-radius: 2px;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	/*font-family: 'PT Sans Narrow', sans-serif;*/
	font-weight: 500px;
	font-size: 1rem;
	letter-spacing: 1.2px;
}

.btnWider {
	width: 155px;
}
/*@font-face {
  font-family: Amithen;
  src: url(../font/Amithen.otf);
}
*/

/*HEADER*/
nav {
	background-color: #fbfbfb;
	border-bottom: rgb(0,0,0); 
}

#storeName {
	padding: 0;
}

#companyLogo {
	height: 70px;
	width: auto;
	padding: 0;
}
/*#nav-home {
	color: #d6c272 !important;
	height: 1rem;
	font-family: 'Roboto', sans-serif;
}*/

.itemCount {
	color: #F7F7F7 !important;
	font-size: 0.9rem;
}

.nav-link:link {
	color: #28aeb9 !important;
}

.nav-link:hover {
	color: #28aeb9 !important;
	font-size: 1rem;
	border-color: #F7F7F7;
}

.nav-link:active {
	color: #28aeb9 !important;
	font-size: 1rem;
	border-color: #F7F7F7;
}

.nav-link:visited {
	color: #28aeb9 !important;
	font-size: 1rem;
	border-color: #F7F7F7;
}

/*CATALOG PAGE*/

#btn-search {
	width: 100px !important;
}

#catalog-category-selected {
	font-family: 'Pacifico', cursive;
	font-size: 1.75rem;
}

.inputQuantity {
	/*to add class to input fields for quantity*/
}




/*FOOTER*/


/*CHECKOUT PAGE*/

/*verify width of span*/
#totalWidth {
	/*border-style: solid;*/
	/*border-width: 2px;*/
	padding-left: 150px;
}

/*CONFIRMATION PAGE*/

#confirmationMessage {
	padding: 40px 40px;
	border: 2px solid #28aeb9;
}

/*#confirmationFavicon {
	height: 100px;
	width: auto;
}*/


/*PROFILE PAGE*/
/*#btnEditProfile {
	background-color: rgba(43,195,144,1);
	border-color: rgba(43,195,144,1);
}*/
