* {
	/*background-color: #F7F7F7;*/
	font-family: 'Quicksand', sans-serif;
	/*color: rgba(43,195,122,1) !important;*/
}

/*@font-face {
  font-family: Amithen;
  src: url(../font/Amithen.otf);
}
*/

/*HEADER*/
nav {
	background-color: #fbfbfb;
	border-bottom: rgb(0,0,0); 
}

#storeName {
	padding: 0;
}

#companyLogo {
	height: 70px;
	width: auto;
	padding: 0;
}
/*#nav-home {
	color: #d6c272 !important;
	height: 1rem;
	font-family: 'Roboto', sans-serif;
}*/

.itemCount {
	color: #F7F7F7 !important;
	font-size: 0.9rem;
}

.nav-link:link {
	color: rgba(43,195,144,1) !important;
}

.nav-link:hover {
	color: #2BC372 !important;
	font-size: 1rem;
	border-color: #F7F7F7;
}

.nav-link:active {
	color: #2BC372 !important;
	font-size: 1rem;
	border-color: #F7F7F7;
}

.nav-link:visited {
	color: #2BC372 !important;
	font-size: 1rem;
	border-color: #F7F7F7;
}

/*CATALOG PAGE*/

#btn-search {
	width: 100px !important;
}

#catalog-category-selected {
	font-family: 'Pacifico', cursive;
	font-size: 1.75rem;
}

/*FOOTER*/


/*CHECKOUT PAGE*/

/*verify width of span*/
#totalWidth {
	/*border-style: solid;*/
	/*border-width: 2px;*/
	padding-left: 150px;
}

/*CONFIRMATION PAGE*/

#confirmationMessage {
	padding: 20px;
	border: 2px solid rgba(43,195,144,1);
}

/*#confirmationFavicon {
	height: 100px;
	width: auto;
}*/