* {
	/*background-color: #F7F7F7;*/
	/*font-family: 'Roboto', sans-serif;*/
}

#nav-link__font {
	color: #443266 !important;
	height: 1rem;
	font-family: 'Roboto', sans-serif;
}

.nav-link__font:hover {
	color: #443266 !important;
	height: 1rem;
	border-color: #F7F7F7;
}

.nav-link__font:active {
	color: #443266 !important;
	height: 1rem;
	border-color: #F7F7F7;
}

/*CATALOG PAGE*/

#btn-search {
	width: 100px !important;
}

/*FOOTER*/
